.contenedor{
	width: 900px;
	margin: 0 auto;
}

header{
	background-color: rgb(230,255,100);
	height: 70px;
	border-radius: 30px;
}
nav{
	position: absolute;
	background-color: rgb(230,200,255);
	width: 160px;
}
.contenido{
	margin-left: 160px;
	min-height: 200px;
	background-color:rgb(220,255,220);
}